<!DOCTYPE html>
<html lang="en">
<head>
  {{if .PageTitle}}
  <title>{{.PageTitle}}</title>
  {{else}}
  <title>Kube Demo Application</title>
  {{end}}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{.Context}}/css/w3.css">
  <link rel="stylesheet" href="{{.Context}}/css/roboto.css">
  <style>
    body,h1,h2,h3,h4,h5 {font-family: "Roboto", sans-serif}
    body {font-size:16px;}
    .w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
    .w3-half img:hover{opacity:1}
    dl dd {margin-top:5px; margin-bottom:10px}
  </style>
</head>
<body>

<!-- Sidebar/menu -->
{{block "sidebar" .}}
<nav class="w3-sidebar w3-{{if .BgColor}}{{.BgColor}}{{else}}red{{end}} w3-collapse w3-top w3-medium w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>

  {{block "menutitle" .}}
  <div class="w3-container">
    <h2 class="w3-padding-16"><b>{{if .AppName}}{{.AppName}}{{else}}KuDAPP{{end}}</b></h2>
  </div>
  {{end}}

  {{block "menu" .}}
  {{ $MNC := "w3-grey" }}
  {{if eq .BgColor "grey"}} {{ $MNC = "w3-white" }} {{end}}

  <div class="w3-bar-block">
    <a href="{{.Context}}/api/home" onclick="w3_close()" class="w3-bar-item w3-button w3-round {{if eq .Active "menuHome"}} {{ $MNC }} {{end}}">Home</a>
    <a href="{{.Context}}/api/status" onclick="w3_close()" class="w3-bar-item w3-button w3-round {{if eq .Active "menuStatus"}} {{ $MNC }} {{end}}">Status Information</a>
    <hr>
    <a href="{{.Context}}/api/setname" onclick="w3_close()" class="w3-bar-item w3-button w3-round {{if eq .Active "menuSetName"}} {{ $MNC }} {{end}}">Set Application Name</a>
    <a href="{{.Context}}/api/setcolor" onclick="w3_close()" class="w3-bar-item w3-button w3-round {{if eq .Active "menuSetColor"}} {{ $MNC }} {{end}}">Set Color</a>
    <a href="{{.Context}}/api/setcookies" onclick="w3_close()" class="w3-bar-item w3-button w3-round {{if eq .Active "menuSetCookies"}} {{ $MNC }} {{end}}">Set Cookies</a>
    <a href="{{.Context}}/api/setstatus" onclick="w3_close()" class="w3-bar-item w3-button w3-round {{if eq .Active "menuSetCode"}} {{ $MNC }} {{end}}">Set Response Code</a>
    <a href="{{.Context}}/api/togglestatus" onclick="w3_close()" class="w3-bar-item w3-button w3-round {{if eq .Active "menuToggle"}} {{ $MNC }} {{end}}">Toggle Resp. Code</a>
    <hr>
    <a href="{{.Context}}/check" onclick="w3_close()" class="w3-bar-item w3-button w3-round {{if eq .Active "menuCheck"}} {{ $MNC }} {{end}}">Health check</a>
    <a href="{{.Context}}/check/healthy" onclick="w3_close()" class="w3-bar-item w3-button w3-round {{if eq .Active "menuHealthy"}} {{ $MNC }} {{end}}">Always Healthy</a>
    <a href="{{.Context}}/check/unhealthy" onclick="w3_close()" class="w3-bar-item w3-button w3-round {{if eq .Active "menuUnHealthy"}} {{ $MNC }} {{end}}">Always Unhealthy</a>
    <hr>
    <a href="{{.Context}}/api/dnsquery" onclick="w3_close()" class="w3-bar-item w3-button w3-round {{if eq .Active "menuDNSQuery"}} {{ $MNC }} {{end}}">DNS Query</a>
    <a href="{{.Context}}/api/workout" onclick="w3_close()" class="w3-bar-item w3-button w3-round {{if eq .Active "menuWorkout"}} {{ $MNC }} {{end}}">Workout</a>
    <a href="{{.Context}}/api/kill" onclick="w3_close()" class="w3-bar-item w3-button w3-round {{if eq .Active "menuKill"}} {{ $MNC }} {{end}}">Kill Container</a>
  </div>
  {{end}}

</nav>
{{end}}

<!-- Top menu on small screens -->
{{block "header" .}}
<header class="w3-container w3-top w3-hide-large w3-{{if .BgColor}}{{.BgColor}}{{else}}red{{end}} w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-{{if .BgColor}}{{.BgColor}}{{else}}red{{end}} w3-margin-right" onclick="w3_open()">☰</a>
  <span>{{if .AppName}}{{.AppName}}{{else}}KuDAPP{{end}}</span>
</header>
{{end}}

{{block "main" .}}
<main>
<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>


  {{block "content" .}}
  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-left:340px;margin-right:40px">

    <!-- Header -->
    <div class="w3-container" style="margin-top:45px" id="showcase">
      {{block "contentheader" .}}
      <h1 class="w3-jumbo"><b>{{.Title}}</b></h1>
      <h2 class="w3-xxlarge w3-text-{{if .BgColor}}{{.BgColor}}{{else}}red{{end}} w3-padding-top-32"><b>{{.Subtitle}}</b></h2>
      <hr style="width:50px;border:5px solid {{if .BgColor}}{{.BgColor}}{{else}}red{{end}}" class="w3-round">
      {{end}}

      {{block "contentdata" .}}
      {{end}}
    </div>

  <!-- End page content -->
  </div>
  {{end}}

</main>
{{end}}

{{block "footer" .}}
<footer>
<!-- W3.CSS Container -->
<div class="w3-main" style="margin-left:300px">
<div class="w3-light-grey w3-container w3-padding-16" style="margin-top:75px;padding-right:58px;padding-left:58px">
  <p class="w3-left"><a href="{{.Context}}/api/help" title="Help page" class="w3-hover-opacity">Help</a></p>
  <p class="w3-right">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></p>
</div>
</div>
</footer>
{{end}}


<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}
</script>

</body>
</html>
